/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@400;700&family=East+Sea+Dokdo&family=Indie+Flower&family=Lobster&family=Moon+Dance&family=Pacifico&family=Rubik+Bubbles&family=Sevillana&family=Yeon+Sung&display=swap');
body{
    font-family: 'Lobster', cursive;
}
.card-img-top{
    height: 300px;
    width: 200px;
    transition: 0.5s;
}
.card-img-top:hover{
    scale: 1.25;
    transform: scale(1.25);
    transition: 0.5s;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
}